    * {
        margin: 0;
        padding: 0;
    }
    
    form {
        width: 90%;
        max-width: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: teal;
        padding: 50px 60px 70px;
        text-align: center;
    }
    
    input {
        width: 100%;
        background: transparent;
        border: 0;
        outline: 0;
        padding: 18px 15px;
    }
    
    .inputfield {
        background: #eaeaea;
        margin: 15px 0;
        border-radius: 3px;
        display: flex;
        align-items: center;
    }